.accordion .accordion__label-faq {
  padding-bottom: 44px;

  @media (max-width: $medium) {
    padding-bottom: 19px;
  }
}

.accordion .accordion__label-filter {
  padding-bottom: 22px;

  @media (max-width: $large) {
    padding-bottom: 34px;
  }

  @media (max-width: $medium) {
    padding-bottom: 24px;
  }
}

.accordion--visible .accordion__label-faq,
.accordion--visible .accordion__label-filter {
  padding-bottom: 0;
}

.accordion .accordion__content {
  display: none;
}

.accordion--visible .accordion__content {
  display: block;
}
