.blog {
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;

  @media (max-width: $large) {
    padding-top: 4px;
    padding-bottom: 44px;
  }

  @media (max-width: $medium) {
    padding-top: 5px;
    padding-bottom: 35px;
  }

  h2 {
    margin: 21px auto 14px;
    font-weight: 700;
    font-family: $cormorant-garamond;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: 0.03em;

    @media (max-width: $medium) {
      margin-bottom: 13px;
    }
  }
}

.blog__link {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 6px 6px 10px;
  line-height: 21px;
  color: $extra-black;

  &::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $primary;

    @media (max-width: $large) {
      bottom: -5px;
    }
  }
}

.blog__posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 30px;
  padding-top: 55px;

  @media (max-width: $large) {
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    gap: 50px;
  }

  @media (max-width: $medium) {
    padding-top: 45px;
    gap: 40px;
  }
}

.blog__post {
  grid-column: 1 / 2;
}

.blog__post:nth-child(3n + 3) {
  @media (min-width: $large + 1) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }
}

.blog__link[href]:hover,
.blog__link[href]:focus {
  color: $primary;
}

.blog__link[href]:focus {
  outline: 1px solid $primary;
  outline-offset: 2px;
  border-radius: 2px;
}

.blog__link[href]:active {
  color: darken($primary, 15%);
  outline: none;
}

.blog__link[href]:active::after {
  background-color: darken($primary, 15%);
}
