.content {
  @media (min-width: $large + 1) {
    display: grid;
    grid-template-columns: calc(25% + 7.5px) calc(75% - 7.5px);
  }

  @media (min-width: $medium + 1) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 132px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $extra-grey;
    }
  }
}
