.lead {
  display: flex;
  flex-wrap: wrap;
}

.lead__burger {
  margin-top: 49px;
  margin-bottom: auto;
  margin-left: 0;
  padding: 5px 0;

  @media (max-width: $medium) {
    margin-top: 32px;
  }
}

.lead__form-search {
  flex-basis: 46.5%;
  margin-top: 38px;
  margin-bottom: auto;

  @media (max-width: $large) {
    order: 4;
    flex-basis: 100%;
    margin-top: 40px;
  }

  @media (max-width: $medium) {
    margin-top: 30px;
  }
}

.lead__logo {
  margin-top: 30px;
  margin-bottom: auto;

  @media (min-width: $large + 1) {
    flex-basis: 7%;
  }

  @media (max-width: $large) {
    margin-left: 5px;
  }

  @media (max-width: $medium) {
    margin-top: 20px;
  }
}

.lead__auth {
  flex-basis: 45%;
  margin-top: 41px;
  margin-bottom: auto;
  margin-left: auto;

  @media (max-width: $large) {
    flex-basis: 4.5%;
    margin-top: 54px;
    margin-right: -1px;
  }

  @media (max-width: $medium) {
    flex-basis: 10.5%;
    margin-top: 37px;
  }
}
