.toggle {
  display: none;

  &--wide {
    svg {
      top: 50px;
      right: 48px;

      @media (max-width: $large) {
        right: 49px;
      }

      @media (max-width: $medium) {
        top: 25px;
        right: 24px;
      }
    }
  }

  &--narrow {
    svg {
      top: 0;
      bottom: 0;
      margin: auto;
      right: 1.7em;

      @media (max-width: $large) {
        right: 3em;
      }

      @media (max-width: $medium) {
        right: 1.5em;
      }
    }
  }

  &--button-down,
  &--button-up {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: $primary;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: $z-index-base;

    svg {
      position: absolute;
      width: 17px;
      height: 10px;
      transform: translateX(0);
      transition: transform 0.2s ease;

      @media (max-width: $large) {
        width: 23px;
        height: 12px;
      }

      @media (max-width: $medium) {
        width: 20px;
        height: 10px;
      }
    }
  }
}

.toggle--wide.toggle--button-up {
  svg {
    @media (max-width: $large) {
      top: 48px;
    }

    @media (max-width: $medium) {
      top: 23px;
    }
  }
}

.toggle--narrow.toggle--button-up {
  svg {
    transform: rotateX(180deg);
    top: 1.7em;

    @media (min-width: $medium) and (max-width: $large) {
      top: 2.5em;
    }
  }
}

.toggle:hover,
.toggle:focus {
  color: $extra-black;

  svg {
    transform: translateX(5px);
  }
}

.toggle:hover + p,
.toggle:focus + p {
  transform: translateX(5px);
}

.toggle--button-up:hover,
.toggle--button-up:focus {
  svg {
    transform: rotateX(180deg) translateX(5px);
  }
}

.toggle:active {
  color: rgba($extra-black, 0.75);

  svg {
    transform: translateX(5px);
  }
}

.toggle:active + p {
  color: rgba($extra-black, 0.75);
  transform: translateX(5px);
}

.toggle--button-up:active {
  svg {
    transform: rotateX(180deg) translateX(5px);
  }
}
