@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Poppins";
  font-display: swap;
  src:
    url("../fonts/poppins-regular.woff2") format("woff2"),
    url("../fonts/poppins-regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Poppins";
  font-display: swap;
  src:
    url("../fonts/poppins-medium.woff2") format("woff2"),
    url("../fonts/poppins-medium.woff") format("woff");
}

@font-face {
  font-style: italic;
  font-weight: 400;
  font-family: "Cormorant Garamond";
  font-display: swap;
  src:
    url("../fonts/cormorant-garamond-italic.woff2") format("woff2"),
    url("../fonts/cormorant-garamond-italic.woff") format("woff");
}

@font-face {
  font-style: italic;
  font-weight: 500;
  font-family: "Cormorant Garamond";
  font-display: swap;
  src:
    url("../fonts/cormorant-garamond-medium-italic.woff2") format("woff2"),
    url("../fonts/cormorant-garamond-medium-italic.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Cormorant Garamond";
  font-display: swap;
  src:
    url("../fonts/cormorant-garamond-semibold.woff2") format("woff2"),
    url("../fonts/cormorant-garamond-semibold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Cormorant Garamond";
  font-display: swap;
  src:
    url("../fonts/cormorant-garamond-bold.woff2") format("woff2"),
    url("../fonts/cormorant-garamond-bold.woff") format("woff");
}
