// font
$cormorant-garamond: "Cormorant Garamond", "Georgia", serif;
$poppins: "Poppins", "Verdana", sans-serif;

// colors
$primary: #a87b62;
$secondary: #9b9997;

$basic-white: #ffffff;
$basic-black: #000000;
$basic-grey: #f0eae4;
$basic-brown: #564034;

$extra-black: #1d1613;
$extra-grey: #f6f5f4;

$popup-shadow: #dbd5d03d;

//Viewport
$large: 1023px;
$medium: 767px;

//Position
$z-index-background: -1;
$z-index-base: 1;
$z-index-menu: 3;
$z-index-popup: 5;
